#treebrowsercontainer { min-width:405px; margin:0px auto 0 auto; background:white; border-radius:0px; padding:0px; overflow:hidden; height:100%}
#treebrowser { float:left; min-width:400px; border-right:1px solid silver; overflow:auto; padding:0px 0; height:100%; overflow: auto; padding-right: 20px; margin-right: 10px}
#data { margin-left:400px; margin-top:20px; /*float: left;*/}
#data textarea { margin:0; padding:0; height:100%; width:100%; border:0; background:white; display:block; line-height:18px; resize:none; }
/* #data, #code { font: normal normal normal 12px/18px 'Consolas', monospace !important; } */
#data .esdl { padding: 20px; }

#treebrowser .file-esdl { background:url('/icons/esdl.png') 2px 3px/13px 13px no-repeat; }
#treebrowser .folder { background:url('/icons/file_sprite.png') right bottom no-repeat; }
#treebrowser .file { background:url('/icons/file_sprite.png') 0 0 no-repeat; }
#treebrowser .file-pdf { background-position: -32px 0 }
#treebrowser .file-as { background-position: -36px 0 }
#treebrowser .file-c { background-position: -72px -0px }
#treebrowser .file-iso { background-position: -108px -0px }
#treebrowser .file-htm, #treebrowser .file-html, #treebrowser .file-xml, #treebrowser .file-xsl { background-position: -126px -0px }
#treebrowser .file-cf { background-position: -162px -0px }
#treebrowser .file-cpp { background-position: -216px -0px }
#treebrowser .file-cs { background-position: -236px -0px }
#treebrowser .file-sql { background-position: -272px -0px }
#treebrowser .file-xls, #treebrowser .file-xlsx { background-position: -362px -0px }
#treebrowser .file-h { background-position: -488px -0px }
#treebrowser .file-crt, #treebrowser .file-pem, #treebrowser .file-cer { background-position: -452px -18px }
#treebrowser .file-php { background-position: -108px -18px }
#treebrowser .file-jpg, #treebrowser .file-jpeg, #treebrowser .file-png, #treebrowser .file-gif, #treebrowser .file-bmp { background-position: -126px -18px }
#treebrowser .file-ppt, #treebrowser .file-pptx { background-position: -144px -18px }
#treebrowser .file-rb { background-position: -180px -18px }
#treebrowser .file-text, #treebrowser .file-txt, #treebrowser .file-md, #treebrowser .file-log, #treebrowser .file-htaccess { background-position: -254px -18px }
#treebrowser .file-doc, #treebrowser .file-docx { background-position: -362px -18px }
#treebrowser .file-zip, #treebrowser .file-gz, #treebrowser .file-tar, #treebrowser .file-rar { background-position: -416px -18px }
#treebrowser .file-js { background-position: -434px -18px }
#treebrowser .file-css { background-position: -144px -0px }
#treebrowser .file-fla { background-position: -398px -0px }

#openbutton {
    margin-top: 20px;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
}

#drop-area.highlight {
  border-color: purple;
  background-color: #F2F2F2;
}
#drop-area p {
  margin-top: 0;
}
#drop-area .upload-form {
  margin-bottom: 10px;
}
#drop-area .button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#drop-area .button:hover {
  background: #ddd;
}

#fileElem {
  display: none;
}