/*
 custom css for ESDL Webeditor
 */


#asset_menu-menu .ui-menu-item {
    margin-left: 0.5em;
}

#asset_menu-menu .ui-selectmenu-optgroup {
	font-size: 1.2em  !important;
}

/*
css for Legend Control box
*/
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* Loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10000;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}