<!DOCTYPE HTML>
<html>
<head>
    <title>ESDL editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <!--link rel="stylesheet" href="./plugins/leaflet.css" crossorigin=""/-->
    <!--script src="./plugins/leaflet.js" crossorigin=""></script-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    <!--link rel="stylesheet" href="./plugins/leaflet.draw.css"/-->
    <!--script src="./plugins/leaflet.draw.js"></script-->

    <link rel="stylesheet" href="./plugins/L.Control.Sidebar.css"/>
    <script src="./plugins/L.Control.Sidebar.js"></script>

    <!-- downloaded from https://github.com/kartena/Proj4Leaflet -->
    <script src="./plugins/proj4.js"></script>
    <script src="./plugins/proj4leaflet.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--script type="text/javascript" src="./plugins/socket.io.min.js"></script-->
    <!--script type="text/javascript" src="./plugins/jquery-1.4.2.min.js"></script-->

    <link href="./plugins/leaflet.contextmenu.css" rel="stylesheet" type="text/css" />
    <script src="./plugins/leaflet.contextmenu.js" type="text/javascript"></script>

    <script type="text/javascript" charset="utf-8">

        var connecting_assets = false;
        var first_clicked = false;
        var first_clicked_id;
        var sidebar;
        var clear_layer = false;        // to indicate if esdl items need to be removed too (or only UI clear)
        var deleting_objects = false;   // to indicate if objects are being deleted (to prevent on click)
        var editing_objects = false;    // to indicate if objects are being edited (to prevent on click)
        var profile_array;
        var carrier_list;

        function uuidv4() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

        function calculate_length(layer) {
            var previousPoint;
            var polyline_length = 0;

            // http://leafletjs.com/reference.html#polyline-getlatlngs
            layer.getLatLngs().forEach(function (latLng) {
                 // http://leafletjs.com/reference.html#latlng-distanceto
                if (previousPoint) polyline_length += previousPoint.distanceTo(latLng);
                previousPoint = latLng;
            });

            return polyline_length;
        }

        splitConductorCallback = function(e) {
            splitConductor(e.relatedTarget.options.id, e.latlng, 'no_connect');
            // only remove conductor from UI, let server side remove conductor in ESDL
            clear_layer = true;
            esdl_layer.removeLayer(e.relatedTarget);
            clear_layer = false;
        }

        splitConductorConnectCallback = function(e) {
            splitConductor(e.relatedTarget.options.id, e.latlng, 'connect');
            // only remove conductor from UI, let server side remove conductor in ESDL
            clear_layer = true;
            esdl_layer.removeLayer(e.relatedTarget);
            clear_layer = false;
        }

        splitConductorAddJointCallback = function(e) {
            splitConductor(e.relatedTarget.options.id, e.latlng, 'add_joint');
            // only remove conductor from UI, let server side remove conductor in ESDL
            clear_layer = true;
            esdl_layer.removeLayer(e.relatedTarget);
            clear_layer = false;
        }

        addProfileToPort = function(e) {
            console.log(e); // .relatedTarget);
        }

        setCarrier = function(e) {
            asset_id = e.relatedTarget.id;
            // console.log(asset_id);

            carrier_index = document.getElementById("carrier_select").selectedIndex;
            carrier_options = document.getElementById("carrier_select").options;
            carrier_id = carrier_options[carrier_index].value;

            // console.log(carrier_id);
            socket.emit('command', {cmd: 'set_carrier', asset_id: asset_id, carrier_id: carrier_id});
        }

        function set_marker_handlers(marker) {
            if (marker.ports) {

                if (marker.ports.length > 0) {
                    marker.bindContextMenu({
                        contextmenu: true,
                        contextmenuWidth: 140,
                        contextmenuItems: [
                            { text: 'Connect', icon: 'icons/Connect.png', disabled: true, callback: connectAsset },
                            { separator: true, index: 1}
                        ]
                    });

                    for (p=0; p<marker.ports.length; p++) {
                        // id is not coming through??  TODO: Check, now parsing the text :-(
                        marker.options.contextmenuItems.push({
                            id: marker.ports[p].id,
                            icon: 'icons/Graph.png',
                            text: 'Set profile of ' + marker.ports[p].type + ' (' + marker.ports[p].id + '): ' + marker.ports[p].name,
                            callback: addProfileToPort
                        });
                    }

                    marker.options.contextmenuItems.push('-');
                    marker.options.contextmenuItems.push({ text: 'Set carrier', icon: 'icons/Connect.png', callback: setCarrier });

                    marker.options.contextmenuItems.push('-');
                    marker.options.contextmenuItems.push({text: 'Cancel'});
                }
            }

            marker.on('dragend', function(e) {
                var marker = e.target;
                var pos = marker.getLatLng();
                socket.emit('update-coord', {id: marker.id, lat: pos.lat, lng: pos.lng});
                // console.log(e.oldLatLng.lat);
                // console.log(pos.lat + ', ' + pos.lng );
            });

            marker.on('remove', function(e) {
                // console.log('remove marker');
                if (clear_layer == false) socket.emit('command', {cmd: 'remove_asset', id: marker.id});
            });

            marker.on('click', function(e) {
                if (deleting_objects == false && editing_objects == false) {        // do not execute when removing/editing objects
                    // console.log('marker clicked');
                    var marker = e.target;
                    var id = marker.id;

                    if (connecting_assets) {
                        if (first_clicked) {
                            first_clicked = false;
                            if (first_clicked_id == id) {       // clicked same asset twice
                                console.log('first clicked cancelled');
                            } else {                            // connect two assets
                                document.getElementById('conn_asset_id2').innerHTML = id;
                                document.getElementById('conn_asset_name2').innerHTML = marker.name;
                                document.getElementById('conn_asset_type2').innerHTML = marker.type;
                                document.getElementById('conn_asset_result').innerHTML = first_clicked_id + ' and ' + id + ' are now connected.';
                                document.getElementById('conn_asset_action').innerHTML = 'Click first asset...!';

                                console.log('second clicked' + id + ', connecting...');
                                socket.emit('command', {cmd: 'connect_assets', id1: first_clicked_id, id2: id});

                                // TODO: timer to clear sidebar?
                            }
                            first_clicked_id = 0;
                        } else {
                            first_clicked = true;
                            first_clicked_id = id;

                            document.getElementById('conn_asset_id1').innerHTML = id;
                            document.getElementById('conn_asset_name1').innerHTML = marker.name;
                            document.getElementById('conn_asset_type1').innerHTML = marker.type;
                            document.getElementById('conn_asset_result').innerHTML = '';
                            document.getElementById('conn_asset_action').innerHTML = 'Click second asset...!';

                            console.log('first clicked ' + first_clicked_id);
                        }
                    } else {
                        socket.emit('command', {cmd: 'get_asset_info', id: id});
                    }
                }
            });
        }

        function set_line_handlers(line) {
            line.bindContextMenu({
                id: line.id,
                contextmenu: true,
                contextmenuWidth: 140,
                contextmenuItems: [
                    { text: 'Split', icon: 'icons/SplitLine.png', callback: splitConductorCallback },
                    { text: 'Split and connect', icon: 'icons/SplitLine.png', callback: splitConductorConnectCallback },
                    { text: 'Split and add joint', icon: 'icons/SplitLine.png', callback: splitConductorAddJointCallback },
                    '-',
                    { text: 'Connect', icon: 'icons/Connect.png', disabled: true, callback: connectConductor },
                    '-',
                    { text: 'Set carrier', icon: 'icons/Connect.png', callback: setCarrier },
                    '-',
                    { text: 'Cancel' }
                ]
            });

            line.on('remove', function(e) {
                if (clear_layer == false) socket.emit('command', {cmd: 'remove_asset', id: line.id});
            });

            line.on('click', function(e) {
                if (deleting_objects == false && editing_objects == false) {
                    var line = e.target;
                    var id = line.id;
                    console.log('line clicked: ' + line.title);

                    if (connecting_assets) {
                        if (first_clicked) {
                            first_clicked = false;
                            if (first_clicked_id == id) {       // clicked same asset twice

                                console.log('first clicked cancelled');
                            } else {                            // connect two assets
                                console.log('second clicked ' + id + ', connecting...');
                                socket.emit('command', {cmd: 'connect_assets', id1: first_clicked_id, id2: id});
                            }
                            first_clicked_id = 0;
                        } else {
                            first_clicked = true;
                            first_clicked_id = id;
                            console.log('first clicked ' + first_clicked_id);
                        }
                    } else {
                        // show popup after getting conductor info
                        socket.emit('command', {cmd: 'get_conductor_info', id: line.id, latlng: e.latlng});
                    }
                }
            });
        }


        function conn_assets_window() {
            sidebar_ctr = sidebar.getContainer();
            sidebar_ctr.innerHTML = '<h1>Connect assets</h1>';

            par = '<p id="conn_asset_result"></p>';
            par += '<p><h2 style="color:blue;" id="conn_asset_action">Click first asset!</h2></p>';
            sidebar_ctr.innerHTML += par;

            table = '<table>';
            table += '<tr><td width=180><b>First asset:</b></td><td>&nbsp;</td></tr>';
            table += '<tr><td width=180>Id:</td><td id="conn_asset_id1">&nbsp;</td></tr>';
            table += '<tr><td width=180>Name:</td><td id="conn_asset_name1">&nbsp;</td></tr>';
            table += '<tr><td width=180>Type:</td><td id="conn_asset_type1">&nbsp</td></tr>';
            table += '<tr><td>&nbsp;</td><td>&nbsp;</td></tr>';
            table += '<tr><td width=180><b>Second asset:</b></td><td>&nbsp;</td></tr>';
            table += '<tr><td width=180>Id:</td><td id="conn_asset_id2">&nbsp;</td></tr>';
            table += '<tr><td width=180>Name:</td><td id="conn_asset_name2">&nbsp;</td></tr>';
            table += '<tr><td width=180>Type:</td><td id="conn_asset_type2">&nbsp</td></tr>';
            table += '</table>';

            sidebar_ctr.innerHTML += table;

            sidebar.show();
        }

        function conn_disconn_assets() {
            var button = document.getElementById('conn-disconn-assets');
            first_clicked = false;
            if (connecting_assets) {
                connecting_assets = false;
                button.innerHTML = 'Connect assets';
                sidebar.hide();
            } else {
                conn_assets_window();
                connecting_assets = true;
                button.innerHTML = 'Stop connecting assets';
            }
        }

        function new_ESDL() {
            sidebar_ctr = sidebar.getContainer();
            sidebar_ctr.innerHTML = '<h1>New ESDL energysystem</h1>';

            table = '<table>';
            table += '<tr><td width=180>Title</td><td><input type="text" width="60" id="new_title"></td></tr>';
            table += '<tr><td width=180>Description</td><td><input type="text" width="60" id="new_description"></td></tr>';
            table += '<tr><td width=180>Email address</td><td><input type="text" width="60" id="new_email"></td></tr>';
            table += '<tr><td width=180></td><td></td></tr>';
            table += '<tr><td width=180>Top-level area name</td><td><input type="text" width="60" id="new_area_name"></td></tr>';
            table += '</table>';

            sidebar_ctr.innerHTML += table;
            sidebar_ctr.innerHTML += '<p><button onclick="sidebar.hide();click_new_ESDL_button(this);">Create</button></p>';

            sidebar.show();
        }

        function click_new_ESDL_button(obj) {
            new_title = document.getElementById('new_title').value;
            new_description = document.getElementById('new_description').value;
            new_email = document.getElementById('new_email').value;
            new_top_area_name = document.getElementById('new_area_name').value;

            socket.emit('file_command', {cmd: 'new_esdl', title: new_title, description: new_description,
                email: new_email, top_area_name: new_top_area_name});
        }

        function boundary_info_window() {
            sidebar_ctr = sidebar.getContainer();

            sidebar_ctr.innerHTML = '<h1>Boundary Information:</h1>';

            table = '<table>';
            table = table + '<tr><td width=180>Scope</td>';
            table = table + '<td><input type="text" width="60" id="scope" value="district"></td></tr>';
            table = table + '<tr><td width=180>Subscope</td>';
            table = table + '<td><input type="text" width="60" id="subscope" value="neighbourhood"></td></tr>';
            table = table + '<tr><td width=180>Identifier</td>';
            table = table + '<td><input type="text" width="60" id="identifier" value="WK001405"></td></tr>';
            table = table + '<tr><td width=180>Initialize energysystem</td>';
            table = table + '<td><input type="checkbox" id="initialize_ES"></td></tr>';
            table = table + '<tr><td width=180>Add boundaries to energysystem</td>';
            table = table + '<td><input type="checkbox" id="add_boundary_to_ESDL"></td></tr>';
            table = table + '</table>';
            sidebar_ctr.innerHTML += table;

            sidebar_ctr.innerHTML += '<p><button onclick="sidebar.hide();get_boundary_info(this);">Request</button></p>';

            sidebar.show();
        }

        function get_boundary_info(obj) {
            identifier = document.getElementById('identifier').value;
            scope = document.getElementById('scope').value;
            subscope = document.getElementById('subscope').value;
            initialize_ES = document.getElementById('initialize_ES').checked;
            add_boundary_to_ESDL = document.getElementById('add_boundary_to_ESDL').checked;

            socket.emit('get_boundary_info', {identifier: identifier, scope: scope, subscope: subscope,
                initialize_ES: initialize_ES, add_boundary_to_ESDL: add_boundary_to_ESDL});
        }

        function open_ESDL(event) {
            // getting a hold of the file reference
            var file = event.target.files[0];

            // setting up the reader
            var reader = new FileReader();
            reader.readAsText(file); // this is reading as data url

            // here we tell the reader what to do when it's done reading...
            reader.onload = readerEvent => {
                var content = readerEvent.target.result; // this is the content!
                socket.emit('load_esdl_file', content);
            }
        }

        function send_cmd_load_ESDL() {
            socket.emit('file_command', {cmd: 'get_list_from_store'});
        }

        function click_load_ESDL_button(obj) {
            select = document.getElementById('load_es_selection');
            es_id = select.options[select.selectedIndex].value;
            es_title = select.options[select.selectedIndex].innerHTML;
            // console.log(es_id);

            title_div = document.getElementById('es_title');
            title_div.innerHTML = '<h1>' + es_title + '</h1>';

            socket.emit('file_command', {cmd: 'load_esdl_from_store', id: es_id});
        }

        function save_ESDL() {
            socket.emit('file_command', {cmd: 'save_esdl'});
        }

        function send_cmd_store_ESDL() {
            socket.emit('file_command', {cmd: 'store_esdl'});
        }

        function send_download_ESDL() {
            socket.emit('file_command', {cmd: 'download_esdl'});
        }

        function add_profile_to_port() {
            port_id = document.getElementById('profile_port_id').value;
            multiplier = document.getElementById('profile_multiplier').value;
            profile_type = document.getElementById('profile_type').value;
            profile_class_select = document.getElementById('profile_class');
            profile_class_id = profile_class_select.options[profile_class_select.selectedIndex].value;

            socket.emit('command', {cmd: 'add_profile_to_port', port_id: port_id, multiplier: multiplier,
                profile_type: profile_type, profile_class: profile_class_id});
        }

        function change_param(obj) {
            asset_id = obj.id;
            asset_param_name = obj.name;
            asset_param_value = obj.value;

            socket.emit('command', {cmd: 'set_asset_param', id: asset_id, param_name: asset_param_name, param_value: asset_param_value});
        }

        function ClickMarker(e) {
            alert (e.latlng);
        }
        function connectAsset(e) {
            alert (e.latlng);
        }
        function connectConductor(e) {
            alert (e.latlng);
        }
        function splitConductor(id, location, mode) {
            socket.emit('command', {cmd: 'split_conductor', id: id, location: location, mode: mode});
        }

        var socket;

        $(document).ready(function() {
            namespace = '/esdl';
            socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function() {
                socket.emit('mngmnt', {data: 'I\'m connected!'});
            });

            socket.on('log', function(msg) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });

            socket.on('clear_ui', function() {
                clear_layer = true;
                esdl_layer.clearLayers();
                area_layer.clearLayers();
                connection_layer.clearLayers();
                clear_layer = false;
            });

            socket.on('add_marker', function(point_coords) {
                console.log(point_coords);

                var marker = L.Marker(point_coords);
                esdl_layer.addLayer(marker); // marker.addTo(map);
            });

            socket.on('add_esdl_objects', function(options) {
                // Format of list items
                // 0        1       2       3           4       5       6
                // 'point'  name    id      class_name  lat     lon     [ports]
                // 'line'   name    id      class_name  [...]   [ports]

                list = options['list'];

                for (i = 0; i<list.length; i++) {
                    $('#log').append('<br>' + list[i][0]+ ', ' + list[i][1] + ': ' + list[i][2] + ' - ' + list[i][3]);

                    var ESDLicon = L.icon({
                        iconUrl: 'images/' + list[i][3] + '.png',

                        iconSize:     [30, 30], // size of the icon
                        iconAnchor:   [15, 15], // point of the icon which will correspond to marker's location
                        popupAnchor:  [0, -15] // point from which the popup should open relative to the iconAnchor
                    });

					var title = list[i][3]+': '+list[i][1]+ ' (id='+ list[i][2] + ')';
                    if (list[i][0] == 'point') {
						
                        var marker = L.marker([list[i][4], list[i][5]], {icon: ESDLicon, title: title});

                        marker.title = title;
                        marker.id = list[i][2];
                        marker.name = list[i][1];
                        marker.type = list[i][3];
                        marker.ports = list[i][6];

                        set_marker_handlers(marker);
                        esdl_layer.addLayer(marker);
                    }
                    if (list[i][0] == 'line') {
                        var coords = list[i][4];
                        if (list[i][3] == 'ElectricityCable') linecolor = '#ff9090'
                        if (list[i][3] == 'Pipe') linecolor = 'blue'

                        var line = L.polyline(coords, {color: linecolor, weight: 4, draggable:true});

                        // line.bindPopup(list[i][3]+': '+list[i][1]+ '('+ list[i][2] + ')');
						line.title = title;
                        line.id = list[i][2];
                        line.ports = list[i][5];

                        set_line_handlers(line);
                        esdl_layer.addLayer(line);
                    }
                }

                if (list.length > 0 && options['zoom']) {
                    var bounds = esdl_layer.getBounds();
                    map.flyToBounds(bounds, {padding: [50,50], animate: true});
                }
            });

            // TODO: does not work
            socket.on('esdltxt', function(esdl_text) {
                var div = document.getElementById('esdltxt');
                div.innerHTML = esdl_text;
            });

            socket.on('area_bld_list', function(areas_buildings) {
                var select = document.getElementById('area_bld_select');
                select.innerHTML = '';
                for (i=0; i<areas_buildings.length; i++) {
                    var option = document.createElement("option");
                    if (i==0) { option.classList.add("ui-state-active"); }
                    var level = areas_buildings[i][3];
                    option.text = '';
                    if (level > 0) {
                         for (j=0; j<level; j++) option.text = option.text + '-';
                    }
                    option.text = option.text + '- ' + areas_buildings[i][0] + ': ' + areas_buildings[i][2] + ' (' + areas_buildings[i][1] + ')';
                    option.value = areas_buildings[i][1];
                    select.add(option, null);
                }
                $("#area_bld_select").selectmenu("refresh");    // to update the selectmenu based on the selected value
            });

            socket.on('clear_connections', function() {
                clear_layer = true;
                connection_layer.clearLayers();
                clear_layer = false;
            });

            socket.on('add_connections', function(connections) {
                for (i = 0; i<connections.length; i++) {
                    var con = connections[i];
                    var coords = [con['from-asset-coord'], con['to-asset-coord']];

                    var line = L.polyline(coords, {color: 'gray', weight: 1, dashArray: '10,20', draggable: true});
                    // line.bindPopup(list[i][3]+': '+list[i][1]+ '('+ list[i][2] + ')');
                    // line.id = list[i][2];

                    connection_layer.addLayer(line);
                }
            });

            socket.on('add_new_conn', function(connection) {
                var coords = [connection[0], connection[1]];
                // console.log(coords);
                var line = L.polyline(coords, {color: 'gray', weight: 1, dashArray: '10,20', draggable: true});
                connection_layer.addLayer(line);
            });

            socket.on('store_list', function(store_items) {
                sidebar_ctr = sidebar.getContainer();

                sidebar_ctr.innerHTML = '<h1>Load ESDL from store</h1>';
                select = '<select id="load_es_selection">';
                for (i = 0; i<store_items.length; i++) {
                    select += '<option value="'+store_items[i]['id']+'"';
                    if (i==0) { select += ' selected="true" '; }
                    select += '>'+store_items[i]['title']+'</option>';
                }
                select += '</select>';
                sidebar_ctr.innerHTML = sidebar_ctr.innerHTML + select;
                sidebar_ctr.innerHTML += '<button onclick="sidebar.hide();click_load_ESDL_button(this);">Load</button>';

                sidebar.show();
            });

            socket.on('asset_info', function(asset_info) {
                asset_id = asset_info['id'];
                asset_name = asset_info['name'];
                asset_attrs = asset_info['attrs'];
                // console.log(asset_attrs);

                sidebar_ctr = sidebar.getContainer();

                sidebar_ctr.innerHTML = '<h1>' + asset_name + '</h1>';
                table = '<table>';
                for (i=0; i<asset_attrs.length; i++) {
                    if (asset_attrs[i][1] == null) {
                        value = '';
                    } else {
                        value = asset_attrs[i][1];
                    }
                    table += '<tr><td width=180>' + asset_attrs[i][0] + '</td>';
                    table += '<td><input type="text" width="60" id="' + asset_id + '" name="' +
                            asset_attrs[i][0] + '" value="' + value + '" onchange="change_param(this);"></td></tr>';
                }
                table += '</table>';
                sidebar_ctr.innerHTML = sidebar_ctr.innerHTML + table;

                sidebar.show();
            });
			
			socket.on('conductor_info', function(asset_info) {
				// console.log('Conductor info: ')
				// console.log(asset_info);
				asset_id = asset_info['id'];
                asset_name = asset_info['name'];
				latlng = asset_info['latlng']; // location of popup send in messagage
                asset_attrs = asset_info['attrs'];
				
				length = 0;
				for (i=0; i<asset_attrs.length; i++) {
					if (asset_attrs[i][0]=='length') {
						length=asset_attrs[i][1];
					}
				}
				
				var popup = L.popup().setLatLng(latlng)
						.setContent('<p><b>'+asset_name+'</b><br>Length: '+length+'m<br>id: '+asset_id+'</p>')
						.openOn(map);
				
			});

            socket.on('port_profile_info', function(profile_info) {
                profile_class = profile_info['class'];
                profile_type = profile_info['type'];
                if (profile_class == 'SingleValue') {
                    profile_value_or_multiplier = profile_info['value'];
                    profile_uiname = 'SingleValue';
                } else if (profile_class == 'InfluxDBProfile') {
                    profile_value_or_multiplier = profile_info['multiplier'];
                    profile_uiname = profile_info['uiname'];
                } else if (profile_class == 'DateTimeProfile') {
                    profile_value_or_multiplier = 0;
                    profile_uiname = 'DateTimeProfile';
                }

                sidebar_ctr = sidebar.getContainer();

                sidebar_ctr.innerHTML = '<h1>Set profile of port:</h1>';
                table = '<table>';
                table += '<tr><td width=180>Profile class</td>';
                table += '<td><select id="profile_class"><option value="SingleValue"';
                if (profile_uiname == 'SingleValue') { table += ' selected'; }
                table += '>Single Value</option>';
                table += '<option value="DateTimeProfile"';
                if (profile_uiname == 'DateTimeProfile') { table += ' selected'; }
                table += '>DateTime Profile</option>';
                for (p=0; p<profile_array.length; p++) {
                    table += '<option value="'+profile_array[p]["profile_uiname"]+'"';
                    if (profile_uiname == profile_array[p]["profile_uiname"]) { table += ' selected'; }
                    table += '>'+profile_array[p]["profile_uiname"]+'</option>';
                }
                table += '</select></td></tr>';
                table += '<tr><td width=180>Multiplier or value</td>';
                table += '<td><input type="text" width="60" id="profile_multiplier" value="'+profile_value_or_multiplier+'"></td></tr>';
                table += '<tr><td width=180>Profile Type</td>';
                table += '<td><input type="text" width="60" id="profile_type" value="'+profile_type+'">';
                table += '<input type="hidden" id="profile_port_id" value="'+port_id+'"></td></tr>';
                table += '</table>'

                sidebar_ctr.innerHTML += table;
                sidebar_ctr.innerHTML += '<button onclick="sidebar.hide();add_profile_to_port();">Add</button>';

                sidebar.show();
            });

            socket.on('es_title', function(title) {
                title_div = document.getElementById('es_title');
                // title_div.innerHTML = '<h1>' + title + '</h1>';
                title_div.innerHTML = '<b>' + title + '<b>';
            });

            socket.on('alert', function(message) {
                alert(message);
            });

            socket.on('area_boundary', function(area_boundary) {
                geometry = area_boundary['boundary']
                color = area_boundary['color']
                fillcolor = area_boundary['fillcolor']
                info_type = area_boundary['info-type']
                // console.log(color)

                if (info_type == 'MP-RD') {
                    // console.log('received MP-RD')
                    var RD = new L.Proj.CRS( 'EPSG:28992','+proj=sterea +lat_0=52.15616055555555 +lon_0=5.38763888888889 +k=0.9999079 +x_0=155000 +y_0=463000 +ellps=bessel +units=m +towgs84=565.2369,50.0087,465.658,-0.406857330322398,0.350732676542563,-1.8703473836068,4.0812 +no_defs', {
                        resolutions: [3440.640, 1720.320, 860.160, 430.080, 215.040, 107.520, 53.760, 26.880, 13.440, 6.720, 3.360, 1.680, 0.840, 0.420, 0.210],
                        bounds: L.bounds([-285401.92, 22598.08], [595401.9199999999, 903401.9199999999]),
                        origin: [-285401.92, 22598.08]
                    });

                    var mp = geometry['coordinates'];
                    // console.log(mp.length);
                    for (i=0; i<mp.length; i++) {
                        polygon = mp[i];

                        var areaBoundary = {
                            type: "Feature",
                            geometry: {
                                type: "Polygon",
                                coordinates: polygon
                            },
                            crs: {
                                type: "name",
                                properties: {
                                    name: "EPSG:28992"
                                }
                            }
                        };
                        // L.Proj.geoJson(areaBoundary).addTo(map);
                        L.Proj.geoJson(areaBoundary, {color: color, fillcolor: fillcolor, weight: 1}).addTo(area_layer);
                    }
                }

                // assume coordinates are in CRS WGS84 (Lat/Lon); default for ESDL
                if (info_type == 'P-WGS84') {
                    // console.log('received P-WGS84')
                    var polygon = geometry['coordinates'];
                    // console.log(polygon);
                    var areaBoundary = {
                        type: "Feature",
                        geometry: {
                            type: "Polygon",
                            coordinates: polygon
                        }
                    };
                    // console.log(areaBoundary);
                    L.geoJson(areaBoundary, {color: color, fillcolor: fillcolor, weight: 1}).addTo(area_layer);
                }

                // coordinates are in CRS WGS84 (Lat/Lon)
                if (info_type == 'MP-WGS84') {
                    // console.log('received MP-WGS84')
                    var mp = geometry['coordinates'];
                    // console.log(mp);

                    for (i=0; i<mp.length; i++) {
                        polygon = mp[i];

                        var areaBoundary = {
                            type: "Feature",
                            geometry: {
                                type: "Polygon",
                                coordinates: polygon
                            }
                        };
                        // console.log(areaBoundary);
                        L.geoJson(areaBoundary, {color: color, fillcolor: fillcolor, weight: 1}).addTo(area_layer);
                    }
                }

            });

            socket.on('profile_info', function(pa) {
                profile_array = pa;
                // This functionality is now in the contextmenu
                <!--var select = document.getElementById('profile_menu');-->
                <!--select.innerHTML = '';-->

                <!--var option = document.createElement("option");-->
                <!--option.classList.add("ui-state-active");-->
                <!--option.text = "SingleValue profile";-->
                <!--option.value = "SingleValue";-->
                <!--select.add(option, null);-->

                <!--for (i=0; i<profile_array.length; i++) {-->
                    <!--var option = document.createElement("option");-->
                    <!--option.text = profile_array[i]["profile_uiname"];-->
                    <!--option.value = profile_array[i]["profile_uiname"];-->
                    <!--select.add(option, null);-->
                <!--}-->
                <!--$("#profile_menu").selectmenu("refresh");    // to update the selectmenu based on the selected value-->
            });

            socket.on('carrier_list', function(carr_list) {
                carrier_list = carr_list;
                // console.log(carr_list);

                var select = document.getElementById('carrier_select');
                select.innerHTML = '';
                for (i=0; i<carrier_list.length; i++) {
                    var option = document.createElement("option");
                    if (i==0) { option.classList.add("ui-state-active"); }
                    option.text = carrier_list[i]['name']
                    option.value = carrier_list[i]['id']
                    select.add(option, null);
                }
                $("#carrier_select").selectmenu("refresh");    // to update the selectmenu based on the selected value
            });

            socket.on('and_now_press_download_file', function() {
                $("#download-esdl").click();
            });
        });
    </script>


    <script>
        $(function() {
            $("#asset_menu").selectmenu({ width:200 });
            $("#line_select").selectmenu({ width:200 });
            $("#area_bld_select").selectmenu({ width:500 });
            $("#carrier_select").selectmenu({ width:150 });
            $("#building_color").selectmenu({ width:150 });
            $("#profile_menu").selectmenu({ width:150 });
            $('#boundary-info').button({text: false, icons: {primary: "geometry"}});

            $('#asset_menu').on('selectmenuchange', function (e) {
                var selected_asset = $(e.target).val();
                // console.log(selected_asset);
                var marker_class_name = window[selected_asset + "Marker"];

                // console.log(selected_index);
                // console.log(selected_asset);
                // console.log(marker_class_name);

                drawControl.setDrawingOptions({
                    marker: {
                        icon: new marker_class_name()
                    }
                });
            });
        });
    </script>

    <style>
        .ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 11px; }
        .header, .footer {
          background-color: grey;
          color: white;
          padding: 4px;
        }
        body {
            padding: 0;
            margin: 0;
        }
        .ui-button .ui-icon.graph {
            background-image: url(icons/Graph.png);
            width: 16;
            height: 16;
        }
        .ui-button .ui-icon.geometry{
            background-image: url(icons/AreaGeometry.png);
            width: 25;
            height: 25;
        }

    </style>

</head>
<body>
    <div class="header" style="height: 25px">
        <div style="float: left; padding:2px;"><b>ESDL Web Editor:</b></div>
        <div style="float: left; padding:2px;" id="es_title"></div>
    </div>

    <div id="ctrl" style="clear: left; position: relative; height: 28px; padding:3px;">
        <button id="new-esdl" onclick="new_ESDL();" title="New energysystem" class="ui-button ui-widget ui-corner-all ui-button-icon-only"><span class="ui-icon ui-icon-document"></span>New</button>
        <button onclick="document.querySelector('.inputFile').click();" title="Load ESDL File" class="ui-button ui-widget ui-corner-all ui-button-icon-only"><span class="ui-icon ui-icon-folder-open"></span>Open</button>
        <input class="inputFile" type="file" style="display: none;" onchange="open_ESDL(event);">
        <button id="save-esdl" onclick="save_ESDL();" title="Save ESDL to file" class="ui-button ui-widget ui-corner-all ui-button-icon-only"><span class="ui-icon ui-icon-disk"></span>Save</button>
        <!-- button id="download-esdl" onclick="send_download_ESDL();">Download ESDL</button-->
        <a href="EnergySystem.esdl" hidden><button id="download-esdl">Download ESDL</button></a>
        <button id="load-esdl" onclick="send_cmd_load_ESDL();" title="Load from ESDL store" class="ui-button ui-widget ui-corner-all"><span class="ui-icon ui-icon-folder-open"></span>Store</button>
        <button id="store-esdl" onclick="send_cmd_store_ESDL();" title="Save to ESDL Store" class="ui-button ui-widget ui-corner-all"><span class="ui-icon ui-icon-disk"></span>Store</button>
        <button id="conn-disconn-assets" onclick="conn_disconn_assets();" title="Connect assets" class="ui-button ui-widget ui-corner-all"><span class="ui-icon ui-icon-link"></span>Connect</button>
        <button id="boundary-info" onclick="boundary_info_window();" title="Boundary" class="ui-button ui-widget ui-corner-all ui-button-icon-only">Boundary</button>

        <select id="asset_menu" style='position:relative;z-index:100'>
            <option value="Battery">Battery</option>
            <option value="ElectricityDemand">ElectricityDemand</option>
            <option value="ElectricityNetwork">ElectricityNetwork</option>
            <option value="Electrolyzer">Electrolyzer</option>
            <option value="FuelCell">FuelCell</option>
            <option value="GasHeater">GasHeater</option>
            <option value="GasNetwork">GasNetwork</option>
            <option value="GenericConsumer">GenericConsumer</option>
            <option value="GenericConversion">GenericConversion</option>
            <option value="GenericProducer">GenericProducer</option>
            <option value="GeothermalSource">GeothermalSource</option>
            <option value="HeatingDemand">HeatingDemand</option>
            <option value="HeatNetwork">HeatNetwork</option>
            <option value="HeatPump">HeatPump</option>
            <option value="Joint">Joint</option>
            <option value="PowerPlant">PowerPlant</option>
            <option value="PVParc">PVParc</option>
            <option value="Transformer">Transformer</option>
            <option value="UTES">UTES</option>
            <option value="WindTurbine">WindTurbine</option>
            <!-- option value="ResidualHeatSourcePotential">ResidualHeatSourcePotential</option-->
        </select>

        <select id="line_select">
            <option value="ElectricityCable">ElectricityCable</option>
            <option value="Pipe">Pipe</option>
        </select>

        <select id="area_bld_select"></select>
        <select id="carrier_select"></select>

        <select id="building_color">
            <option value="buildingyear">Building year</option>
            <option value="floor area">Floor area</option>
        </select>
    </div>

    <div id="mapid" style="float: left; width: 100%; height: 850px; position:relative; z-index:10"></div>

    <div id="sidebar">
    </div>

    <div id="log" style="float: left;"><h2>Logs:</h2></div>
    <div id="esdltxt" style="float: left;"></div>

</body>
</html>

<script>

    var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            osm = L.tileLayer(osmUrl, { maxZoom: 18, attribution: osmAttrib }),
            // map = new L.Map('mapid', { center: new L.LatLng(53.44, 5.8), zoom: 12 }),  // Ameland centered
            map = new L.Map('mapid', { center: new L.LatLng(52.1, 5.8), zoom: 8 }),
            esdl_layer = L.featureGroup().addTo(map),
            area_layer = L.featureGroup().addTo(map),
            connection_layer = L.featureGroup().addTo(map);

    connection_layer.bringToFront();

    L.control.layers(
        {
            'OpenStreetMap': osm.addTo(map),
            "Google": L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
                attribution: 'Google'
            })
        },
        { 'ESDL': esdl_layer, 'Area boundaries': area_layer, 'connections': connection_layer },
        { position: 'topleft', collapsed: false }
    ).addTo(map);

    var BatteryMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/Battery.png'}});
    var ElectricityDemandMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/ElectricityDemand.png'}});
    var ElectricityNetworkMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/ElectricityNetwork.png'}});
    var ElectrolyzerMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/Electrolyzer.png'}});
	var FuelCellMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/FuelCell.png'}});
	var GasHeaterMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/GasHeater.png'}});
	var GasNetworkMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/GasNetwork.png'}});
    var GenericConsumerMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/GenericConsumer.png'}});
    var GenericConversionMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/GenericConversion.png'}});
    var GenericProducerMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/GenericProducer.png'}});
	var GeothermalSourceMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/GeothermalSource.png'}});
    var HeatingDemandMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/HeatingDemand.png'}});
    var HeatNetworkMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/HeatNetwork.png'}});
    var HeatPumpMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/HeatPump.png'}});
	var JointMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/Joint.png'}});
    var PowerPlantMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/PowerPlant.png'}});
    var PVParcMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/PVParc.png'}});
    var ResidualHeatSourcePotentialMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/ResidualHeatSourcePotential.png'}});
    var TransformerMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/Transformer.png'}});
    var UTESMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/UTES.png'}});
    var WindTurbineMarker = L.Icon.extend({options: {shadowUrl: null, iconAnchor: new L.Point(12, 12), iconSize: new L.Point(30, 30), iconUrl: 'images/WindTurbine.png'}});

    var drawControl = new L.Control.Draw({
        edit: {
            featureGroup: esdl_layer,
            poly: {
                allowIntersection: true
            }
        },
        draw: {
            polygon: {
                allowIntersection: true,
                showArea: true
            },
            circle: false,
            marker: {
                icon: new BatteryMarker()
            }
        }
    })
    map.addControl(drawControl);

    sidebar = L.control.sidebar('sidebar', {
        position: 'right',
        closeButton: true
    });
    map.addControl(sidebar);

    // the 'dragend' event of Polyline does not work, this is an alternative solution
    map.on('draw:edited', function (e) {
        var layers = e.layers;
        layers.eachLayer(function (layer) {
            if (layer instanceof L.Polyline) {
                polyline_length = calculate_length(layer);
                // console.log(layer.getLatLngs());
                socket.emit('update-line-coord', {id: layer.id, polyline: layer.getLatLngs(), length: polyline_length});
            }
        });
    });

    // To prevent the onclick functionality when removing objects
	map.on(L.Draw.Event.DELETESTART, function (event) {
        deleting_objects = true;
	});

	map.on(L.Draw.Event.DELETESTOP, function (event) {
        deleting_objects = false;
	});

    // To prevent the onclick functionality when editing objects
	map.on(L.Draw.Event.EDITSTART, function (event) {
        editing_objects = true;
	});

	map.on(L.Draw.Event.EDITSTOP, function (event) {
        editing_objects = false;
	});

    map.on('contextmenu.select', function(e) {
        // this event is fired for all contextmenu clicks
        // TODO: how to filter add profile in a better way???
        menu_item_text = e.el.innerText;
        // console.log(e);

        if (menu_item_text.substring(0, 11) == 'Set profile') {
            port_id = menu_item_text.substring(menu_item_text.indexOf('(')+1, menu_item_text.indexOf(')'));
            // console.log(port_id);
            socket.emit('command', {'cmd': 'get_port_profile_info', 'port_id': port_id});
        }
    });

    map.on(L.Draw.Event.CREATED, function (event) {
        var layer = event.layer;
        var type = event.layerType;
        layer.id = uuidv4();

        selected_area_bld_index = document.getElementById("area_bld_select").selectedIndex;
        selected_area_bld_options = document.getElementById("area_bld_select").options;
        selected_area_bld_id = selected_area_bld_options[selected_area_bld_index].value;
        // console.log('selected area/building id: ' + selected_area_bld_id);

        if (type === 'marker') {
            selection = document.getElementById("asset_menu").selectedIndex;
            asset_options = document.getElementById("asset_menu").options;
            selected_asset = asset_options[selection].value;
            // console.log('selected option: ' + selection);
            // console.log('selected asset: ' + selected_asset);

            // set_marker_handlers(layer);  // is now called after server interaction, see below

            // TODO: This can probably be done smarter --> TODO: this is not necessary anymore?
            if (selected_asset == 'Battery') layer.setIcon(new BatteryMarker);
            if (selected_asset == 'ElectricityDemand') layer.setIcon(new ElectricityDemandMarker);
            if (selected_asset == 'ElectricityNetwork') layer.setIcon(new ElectricityNetworkMarker);
            if (selected_asset == 'Electrolyzer') layer.setIcon(new ElectrolyzerMarker);
            if (selected_asset == 'FuelCell') layer.setIcon(new FuelCellMarker);
            if (selected_asset == 'GasHeater') layer.setIcon(new GasHeaterMarker);
            if (selected_asset == 'GasNetwork') layer.setIcon(new GasNetworkMarker);
            if (selected_asset == 'GenericConsumer') layer.setIcon(new GenericConsumerMarker);
            if (selected_asset == 'GenericConversion') layer.setIcon(new GenericConversionMarker);
            if (selected_asset == 'GenericProducer') layer.setIcon(new GenericProducerMarker);
			if (selected_asset == 'GeothermalSource') layer.setIcon(new GeothermalSourceMarker);
            if (selected_asset == 'HeatingDemand') layer.setIcon(new HeatingDemandMarker);
            if (selected_asset == 'HeatNetwork') layer.setIcon(new HeatNetworkMarker);
            if (selected_asset == 'HeatPump') layer.setIcon(new HeatPumpMarker);
			if (selected_asset == 'Joint') layer.setIcon(new JointMarker);
            if (selected_asset == 'PowerPlant') layer.setIcon(new PowerPlantMarker);
            if (selected_asset == 'PVParc') layer.setIcon(new PVParcMarker);
            if (selected_asset == 'Transformer') layer.setIcon(new TransformerMarker);
            if (selected_asset == 'UTES') layer.setIcon(new UTESMarker);
            if (selected_asset == 'WindTurbine') layer.setIcon(new WindTurbineMarker);
            if (selected_asset == 'ResidualHeatSourcePotential') layer.setIcon(new ResidualHeatSourcePotentialMarker);

            socket.emit('command', {cmd: 'add_asset', area_bld_id: selected_area_bld_id, asset: selected_asset, asset_id: layer.id, lat: layer.getLatLng().lat, lng: layer.getLatLng().lng});

            // Let server send info including ports, so marker.contextmenu can be populated
            // esdl_layer.addLayer(layer);
        }
        if (type === 'polyline') {
            selection = document.getElementById("line_select").selectedIndex;
            // console.log('selected line: ' + selection);

            set_line_handlers(layer);

            polyline_length = calculate_length(layer);

            if (selection == 0) {
                socket.emit('command', {cmd: 'add_asset', area_bld_id: selected_area_bld_id, asset: 'ElectricityCable', asset_id: layer.id, polyline: layer.getLatLngs(), length: polyline_length});
            }
            if (selection == 1) {
                socket.emit('command', {cmd: 'add_asset', area_bld_id: selected_area_bld_id, asset: 'Pipe', asset_id: layer.id, polyline: layer.getLatLngs(), length: polyline_length});
            }
            esdl_layer.addLayer(layer);
        }
        if (type === 'polygon' || type === 'rectangle') {
            socket.emit('command', {cmd: 'set_area_bld_polygon', area_bld_id: selected_area_bld_id, polygon: layer.getLatLngs()});
            area_layer.addLayer(layer, true);
        }
    });

</script>
